.contacts{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    color: yellow;
}

.contacts:hover{
    background-color: rgb(211,211,211);
    border-radius: 20px;
}

.contactImage{
    padding-right: 20px;
}

.contact{
    margin-right: 100%;
}

.contactbutton{
    background-color: rgb(105,105,105);
    color: yellow;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}