.optionAffiche{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 20px;
    margin-left: 0%;
    height: 20px;
    color: rgb(211,211,211);
}

.optionss{
    position: sticky;
    z-index: 100;
    top: 10%;
    height: 0;
}

.optionAffiche:hover{
    background-color: white;
    border-radius: 20px;
}

.texte_option{
    color: rgb(211,211,211);
}